#include "dactyl_cygnus.dtsi"

&five_column_transform {
    col-offset = <5>;
};

&kscan0 {
    // TODO PLACEHOLDER — replace with your real right-half column wiring
    // (5 columns).
    col-gpios
        = <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};
